@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

button {
  appearance: none;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
  will-change: transform;
}

button:disabled {
  pointer-events: none;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh; 
    background-color: rgb(70, 83, 98);
    transition: background-color 0.5s ease;    
}

#container {
    background: linear-gradient(37deg, #FFFF00, #001aff, #FF0000);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:33% 0%}
    50%{background-position:68% 100%}
    100%{background-position:33% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:33% 0%}
    50%{background-position:68% 100%}
    100%{background-position:33% 0%}
}
@keyframes AnimationName {
    0%{background-position:33% 0%}
    50%{background-position:68% 100%}
    100%{background-position:33% 0%}
}

#row1 {
    margin-bottom: 0em;
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 11em; /* Set a fixed width */
    height: 5em;
    margin: 5px; /* Optional: Add some margin around the buttons */
    flex-grow: 2;
}

#row1 {
    display: flex;
    justify-content: center;
}

#row2 {
    display: flex;
    justify-content: center;
}

#text {
    text-align: center;
}

h1 {
    font-size: 1.5em;
    font-family: "DM Sans", sans-serif;
    color: rgb(244, 255, 253);
    background: rgba(0, 0, 0,0.3);
    border-radius: 0.5em;
    margin-top: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background 1s ease-out; 
}

h2 {
    margin-top: 0.5em;
    font-size: 4em;
    font-family: "DM Sans", sans-serif;
    color: rgb(244, 255, 253);
    border-radius: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    margin-top: 0.5em;
    font-size: 4em;
    font-family: "DM Sans", sans-serif;
    color: rgba(244, 255, 253);
    border-radius: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px; 
    transition: color 1s ease-out; 
}

#time {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.green-bg {
    background-color: green !important; /* Use !important to override inline style */
}
